<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration>
    
  <!--destination:swing GUI-->    
  <appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
	    <layout class="org.apache.log4j.PatternLayout">
		<param name="ConversionPattern" value="%d [%t] %-5p %c{1} - %m%n"/>
            </layout>
  </appender>

    <appender name="LOG" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="/opt/app/log/statistics/statistics.log" />
        <param name="DatePattern" value="'.'yyyy-MM-dd" />
	    <layout class="org.apache.log4j.PatternLayout">
		<param name="ConversionPattern" value="%d [%t] %-5p %c{1} - %m%n"/>
        </layout>
    </appender>


    <logger name="com.b13" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
</log4j:configuration>
